// COLORS
// $cp-main: rgba(74, 74, 74, 1);
$cp-main: #273238;
$cp-main-light: #34434b;
$cp-main-inverse: white;
$cp-mainLight: rgba(74, 74, 74, .5);
$cp-subHeader: rgba(74, 74, 74, 1);
$cp-hover: #62c5ec;
$cp-headerFont: #fff;
$cp-LightBlue: #4988FB;
$cp-NavyBlue: #122954;
$cp-lightGrey: #ccc;
$cp-lighterGrey: #f5f5f5;
$cp-darkGrey: #777;
$cp-grey: #f5f5f5;
$cp-font: #838383;
$cp-darkFont: #555555;
$cp-dark: #000;
$cp-btns: #a9a9a9;
$cp-heading: #4ebee8;
$cp-shadow: #c2c4c6;
$cp-subMenu: #4a4a4a;
$cp-success: #5cb85c;
$cp-green: #0CA200;
$cp-attention: #993737;

// FONTS
$cp-fontFamily: "Open-Sans","Helvetica Neue","sans-serif";
$cp-standardFontSize: 15px;


// MEASUREMENTS
$maxPageWidth: 1440px;
$borderRadiusStandard: 2px;
$borderRadiusLarge: 4px;
