{
  "instructions": "For local overrides, copy this file to 'env.override.json'. To temporarily disable the overrides, rename 'env.overrides.json' it to 'env.ignore.json'. (Both 'env.override.json' and 'env.ignore.json' have been added to '.gitignore', so you won't be asked to commit these files.)",
  "override": {
    "name": "Local",
    "apis": {
      "autoship": "https://autoship.cp/api/v0/",
      "core": "https://core.cp/api/v1/",
      "external": "https://external.cp/api/external/",
      "events": "https://events.cp/api/v0/",
      "inventory": "https://inventory.cp/api/v0/",
      "orders": "https://orders.cp/api/v0/",
      "users": "https://users.cp/api/v0/",
      "taxes": "https://tax.controlpadapi.com/api/v0/"
    }
  }
}
